@model List<Salary>;
@{
    ViewData["Title"] = "All Salaries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["SuccessMessage"] != null)
{
                <script>
                    $(document).ready(function() {
                        toastr.success('@TempData["SuccessMessage"]');
                    });
                </script>
}

@if (TempData["ErrorMessage"] != null)
{
                <script>
                    $(document).ready(function() {
                        toastr.error('@TempData["ErrorMessage"]');
                    });
                </script>
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">All Salaries List</h3>
                        <a class="float-right btn btn-warning" asp-action="Save" asp-controller="Salary">Add Salary</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Salary Id</th>
                                    <th>Employee ID</th>
                                    <th>Base Salary</th>
                                    <th>Bonuses</th>
                                    <th>Deductions</th>
                                    <th>Total Salary</th>
                                    <th>Month</th>
                                    <th>Year</th>
                                    <th>Notes</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                                                                        <tr>
                                                                                            <td>@item.Id</td>
                                                                                            <td>@item.EmployeeId</td>
                                                                                            <td>@item.BaseSalary</td>
                                                                                            <td>@item.Bonuses</td>
                                                                                            <td>@item.Deductions</td>
                                                                                            <td>@item.TotalSalary</td>
                                                                                            <td>@item.Month</td>
                                                                                            <td>@item.Year</td>
                                                                                            <td>@item.Notes</td>
                                                                                            <td>
                                                                                                <a asp-action="Save" asp-controller="Salary" asp-route-Id="@item.Id" class="btn btn-danger"><i class="fa fa-edit"></i></a>
                                                                                                <a asp-action="Delete" asp-controller="Salary" asp-route-Id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                                                                                </td>
                                                                                        </tr>
                                    }
                                }
                                else
                                {
                                                            <tr>
                                                                <td colspan="7">No record found.</td>
                                                            </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<!-- Page specific script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@latest/build/toastr.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastr@latest/build/toastr.min.js"></script>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        });
    });
</script>
